* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    min-height: 100vh;

    
    background-image: url(../img/backgroun_money.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #280C5F;
    color: #fff;
    /*
    background-color: #000033;*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body h1 {
    font-size: 3.5rem;
    padding: 0 20px;
    color: #fff;
    font-style: italic;
}

body section {
    background-color: rgba(79, 33, 171, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 4rem;
    min-width: 300px;
    border-radius: 8px;
    margin: 5rem 0 12rem;
    box-shadow: 5px 5px 100px #000000;
}
.selectCoins {
    margin-top: 2rem;
}
#coins {
    border-color: rgb(40, 12, 95, 0.7);
    background-color: #fff;
    color: rgb(40, 12, 95, 0.7);
    padding: 10px 20px;
    
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1rem;
    appearance: none;
}
#coins option {
    border-radius: 8px;
}
#coins:focus{
    outline: none;
}
.options {
    margin:2rem 0;
    padding: 0 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.options button {
    background-color: rgb(40, 12, 95, 0.7);
    color: #fff;
    padding: 10px 15px;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}
.options button:hover {
    background-color: #7831cf;
}
.container {
    background-color: rgb(40, 12, 95, 0.7);
    border-radius: 1rem;
    padding: 1rem;
}
#title {
    margin: 20px 0;
    padding: 5px 0;
    font-size: 2rem;
    border-bottom: solid 1px #888;
    text-align: center;
    color: #fff;
}
#value{
    margin: 10px 0;
    color: #888;
}
#value span {
    font-size: 1.2rem;
    font-weight: bold;
}
#date{
    color: #888;
}
#thisdate {
    color: #fff;
}
#compra {
    color: #fff;
}
#venda {
    color: #fff;
}
#pctVariacao {
    color: #fff;
}
#maxvalue {
    color: #008000;
}
#minvalue {
    color: #ff0000;
}

footer {
    width: 100%;
    text-align: center;
    background-color: rgb(120, 49, 207, 0.7);
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

footer a {
    color: #888;
}
/*Mobile*/
@media (max-width: 480px){

    body section {
        margin: 0px 10px 70px ;
        padding: 0px;
    }
    body h1 {
        font-size: 2.5rem;
        margin: 20px 0;
    }
    .selectCoins{
        margin-top: 1rem;
    }
    .options {
        padding: 0 20px;
    }
    .container {
        margin: 0 1rem 1rem;
    }
    #title{
        font-size: 1.3rem;
    }
    #date {
        font-size: 1rem;
    }
    #date span {
        font-size: 1rem;
    }
    #value {
        font-size: 1rem;
    }
    #value span {
        font-size: 1rem;
    }
    footer {
        padding: 1.5rem;
    }
}
